@model List<Blog>

<link rel="stylesheet" href="~/Css/blog.css">
<!-- Articles txt section start -->
<div class="bg-blue">
    <div class="nav container d-flex">
        <h1 class="unique-text">Articles</h1>
        <p class="gray w-400">
            There are many variations of passages of Lorem Ipsum available, have
            suffered alteration in some form.
        </p>
    </div>
</div>
<!-- Articles txt section end -->
<!-- aricles start -->
<div class="bg-light-blue articles blue">
    <div class="container d-flex align-center articles-container">
        <div class="article-img-container d-flex">
            <!-- start of cards -->
            <!-- 1 -->
            @foreach(var item in Model)
            {
                <div class="article-card d-flex">
                    <img style="width:280px;height:170px;" src="~/assets/img/blog/@item.Image" alt="@item.Image" />
                    <div class="article-text-container">
                        <h4>@item.Title</h4>
                        <h5 class="gray">
                            @item.Description
                        </h5>
                        <div class="d-flex space-between align-center article-card-details">
                            <h6><a class="blue" asp-controller="blog" asp-action="detail" asp-route-id="@item.Id">Read more</a></h6>
                            <h6>Author - @item.CreatedAt.ToString("dd MM yyyy")</h6>
                        </div>
                    </div>
                </div>
            }
            <!-- 2 -->
        </div>
    </div>
</div>
<!-- articles end -->  