@model List<Author>

@*  public string FirstName {  get; set; }
        public string LastName { get; set; }
        public string About {  get; set; }
        public string Country {  get; set; }
        public string Genre {  get; set; }
        public DateTime BirtDate { get; set; }
        public string? Image {  get; set; } *@


<table class="table">
    <thead style="text-align:center">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">FullName</th>
            <th scope="col">Image</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody style="text-align:center">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.FirstName  @item.LastName</td>
                <td style="width:50px; height:50px">
                    <img style="object-fit:cover" src="~/assets/img/author/@item.Image" alt="Alternate Text" />
                </td>
                <td>

                    <a asp-controller="author" asp-action="update" asp-route-id="@item.Id">
                        <i style="color:#199" class="fa-solid fa-wrench"></i>
                    </a>
                </td>
                <td>
                    <a onclick="return confirm('are you sure')" asp-controller="author" asp-action="delete"
                       asp-route-id="@item.Id">
                        <i style="color:red" class="fa-solid fa-trash"></i>
                    </a>
                </td>
            </tr>
        }

    </tbody>

</table>
<div>
    <a class="btn btn-success" asp-controller="author" asp-action="create">Create author</a>
</div>
